.flash-card {
  font-size: 40px;
  color: #555;
  min-height: 300px;
  text-align: center;
}

.flash-card img {
  margin-top: 40px;
  height: 450px;
}

.controls {
  text-align: center;
  color: #333;
}

.controls button {
  margin: 0 20px;
  cursor: pointer;
  font-size: 20px;
}

.time-left {
  text-align: center;
  font-size: 40px;
  color: #555;
}
