.green {
  color: rgb(19, 155, 103);
}

.content {
  padding: 0 30px;
}

.indent {
  margin-left: 20px;
}
.indent,
.spaced-div {
  margin-top: 8px;
}

.home {
  text-align: center;
  font-size: 50px;
  /* 95px = height of header */
  line-height: calc(100vh - 95px);
}
